
.ContenedorGlobal{
    width:100%;
    min-width: 50%
}

.ContenedorInfo{
    position: absolute;
    display: flexbox;
    height: 30%;
    left: 5%;
    top: 5%;
    right: 30%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 40%;
    font-size: 140%;
    line-height: 41px;
    color:  white;
   
}
.Foto{
    position: absolute;
    display: flexbox;
    
    right: 10%;
    height: 50%;
    left: 68%;
    top: 7%;
}

.Contenedor0{
    font-style: normal;
    font-weight: 40%;
    font-size: 140%;
    line-height: 41px;
    color: white;

    display:inline-block;
    border-radius: 30px;
    padding: 1% 1%;
    margin-top: 15%;
    margin-left:10%;
    background-color: #002B5B;


}
.Contenedor1{
    font-weight: 600;
    font-style: normal;
    font-weight: 40%;
    font-size: 28px;
    margin: 2% 10% 2%;
    line-height: 35px;
    margin-bottom: 7%;

}

.Contenedor2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    margin-bottom: 10%; 
    height: 300px;   

}
.Contenedor2-1{
    background-image: url(../Imagenes/Experiencia.jpg);
}
.Contenedor2-2{
    background-image: url(../Imagenes/Estudios.jpg);
}
.Contenedor2-3{
    background-image:url(../Imagenes/Participacion.jpg);
}
.Contenedor2-1,.Contenedor2-2, .Contenedor2-3{
    border-radius: 23px;
    margin: 0 1%;
    width: 15%;
    outline: #002B5B solid 5px;
    border-color: #002B5B;
    background-color: #002B5B;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}


.Contenedor2-1-1, .Contenedor2-2-1, .Contenedor2-3-1{
    

    padding: 4% 3%;
    border-radius: 15px;
    display: inline-block;
    background-color: #002B5B;
    color: white;
    margin-top: 2%;
    

}

.ContenedorExptitle, .ContenedorEstutitle, .ContenedorPartititle{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.txtExph1, .txtEstu, .txtParti{
    background-color: #002B5B;
    border-radius: 30px;
    padding: 0.9% 1%;
    

    color: white;
    font-style: normal;
    font-weight: 40%;
    font-size: 150%;
    line-height: 41px;
}

.ContenedorExp2, .CotenedorEstu1, .ContenedorParti1{

    font-weight: 600;
    font-style: normal;
    font-weight: 40%;
    font-size: 28px;
    line-height: 35px;

    margin: 2% 10% 4%;
}

.Separator{

    width: 100%;
    height: 70px;
    flex-flow: row wrap;
    display: flex;
    align-items: center center;
    justify-content: space-around;
}
.BolaSeparador{
    margin-top: 1.3%;
    background-color: #002B5B;
    width: 2.5%;
    height: 50%;
    border-radius: 1000px;
}
.Separador1, .Separador2{
    margin-top: 2%;
    background-color: #002B5B;
    width:  40%;
    height: 20%;
    border-radius: 35px;
}
.Certif1{
    outline: #002B5B solid 2px;
    height: 400px;
    width: 550px;
    margin-top: 5%;
}
.Certif{
    display: flex;
    justify-content: center;
}

.PiedP{
    background-color: #256D85;
    display: flex;
    flex-flow: row wrap;
    padding-left:18%;
    padding-top: 1%;
    min-height: 150px;
    height: 210px;
    margin-top: 2%;
}
.Separador3{
    background: white;
    height: 120px;
    width: 5px;
    border-radius: 100px;
    margin: 0 3%; 
}
.NombreC{
    color: white;
}
.ContaTit2{
    margin-left:10%;
    width: 250px;
}

.Contact{
    color: white;

}
.Contc{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ButVolver{
    border-radius: 30px;
    background-color: #002B5B;
    color: white;
    padding: 1% 3%;

}
.ContaTit2>ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.Olota{
    margin-bottom: -10px;
}































ul, a,h1, h2, h3, h4, p{
    font-family: 'Open Sans';
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


